name: OpenCV

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Build OpenCV XCFramework
      run: |
        python3 ./opencv/platforms/apple/build_xcframework.py \
          --out ./opencv/build \
          --iphoneos_deployment_target 14.0 \
          --iphoneos_archs arm64 \
          --iphonesimulator_archs arm64,x86_64 \
          --build_only_specified_archs True \
          --dynamic \
          --without objc
        zip -r opencv2.xcframework.zip ./opencv/build/opencv2.xcframework
    - name: Upload OpenCV XCFramework
      uses: actions/upload-artifact@v4
      with:
        name: opencv2.xcframework
        path: opencv2.xcframework.zip
        