name: OpenCV

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Build OpenCV XCFramework
      run: |
        python3 ./opencv/platforms/apple/build_xcframework.py \
          --out ./opencv/build \
          --iphoneos_deployment_target 14.0 \
          --iphoneos_archs arm64 \
          --iphonesimulator_archs arm64,x86_64 \
          --build_only_specified_archs True \
          --dynamic \
          --without objc
        

    # $(opencv_location)/opencv2.xcframework/Info.plist:
    # 	@mkdir -p $(opencv_location)
    # 	@python3 ./third_party/opencv/platforms/apple/build_xcframework.py \
    # 		--out $(opencv_location) \
    # 		--iphoneos_deployment_target 14.0 \
    # 		--iphoneos_archs arm64 \
    # 		--iphonesimulator_archs arm64,x86_64 \
    # 		--build_only_specified_archs True \
    # 		--dynamic \
    # 		--without objc
    # 	@cp ./third_party/ocl.hpp ./third_party/lib/opencv/opencv2.xcframework/ios-arm64/opencv2.framework/Headers/core
    # 	@cp ./third_party/ocl.hpp ./third_party/lib/opencv/opencv2.xcframework/ios-arm64_x86_64-simulator/opencv2.framework/Headers/core


    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip uv
    #     uv sync --group dev