name: OpenCV

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip uv
    #     uv sync --group dev
    # - name: Analysing the code with pylint
    #   run: |
    #     uv run pylint $(git ls-files '*.py')